/*Variable Declaration*/


/*Main Colors*/

$header-footer-primary-background-color:#131313;
$header-footer-secondary-background-color:#fff;
$header-footer-primary-text-color:#000;
$header-footer-secondary-text-color:#fff;
$logo-pink:#db2b4a;
$logo-yellow:#f3a41e;
$logo-green:#5daa46;

/*Category Colors*/

$colorList: "nightlife" #f90000,
"tourism" #00a79d,
"shopping" #ec008c,
"beauty" #154a93,
"dining" #e31b23,
"services" #f57f2a,
"accomodation" #069347,
"fitness" #0f82b7,
"entertainment" #7f3f98,
"more" #9a1c52;

/*Mixins*/

@mixin apply-color($prop, $color) {
    #{$prop}: $color;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform...) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($transform-origin...) {
    -webkit-transform-origin: $transform-origin;
    -moz-transform-origin: $transform-origin;
    -ms-transform-origin: $transform-origin;
    -o-transform-origin: $transform-origin;
    transform-origin: $transform-origin;
}

@mixin animation($animation...) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin reset-appearance() {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

@mixin user-select($value) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

@mixin placeholder{
    input::-webkit-input-placeholder{@content}
    input::-moz-placeholder{@content}
    input:-ms-input-placeholder{@content}
    input:-moz-placeholder{@content}
}

@mixin key-frame($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    /* Standard syntax */
    @keyframes #{$name} {
        @content;
    }
}

@mixin media($queryString) {
    @media #{$queryString} {
        @content;
    }
}

@mixin linear-gradient($direction, $first-color, $first-opacity, $start-position, $last-color, $last-opacity, $end-position) {
    background: -moz-linear-gradient($direction, rgba($first-color, $first-opacity) ($start-position*1%), rgba($last-color, $last-opacity) ($end-position*1%));
    background: -webkit-linear-gradient($direction, rgba($first-color, $first-opacity) ($start-position*1%), rgba($last-color, $last-opacity) ($end-position*1%));
    background: linear-gradient(to opposite-direction($direction), rgba($first-color, $first-opacity) ($start-position*1%), rgba($last-color, $last-opacity) ($end-position*1%));
}

@mixin link-hover(){
    &{
        text-decoration: none;
    }

    &:after{
        content:'';
        display:block;
        height:1px;
        width:20%;
        /*margin-top:2px;*/
        @include transition(all 0.3s ease);
        @include media("(min-width: 1200px)") {
            height: get-vw(1px);
            /*margin-top: get-vw(2px);*/
        }
    }

    &:hover:after{
        width:100%;
        @include transition(all 0.3s ease);
    }
}

@mixin theme-link-color($category-color){
    &{
        color:$category-color;
    }

    &:after{
        background-color:$category-color;
    }
}

@mixin limit-text-lines($number-of-lines,$line-height){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number-of-lines; /* number of lines to show */
    line-height: $line-height;        /* fallback */
    max-height: $line-height*$number-of-lines;       /* fallback */
}


/*Functions*/

@each $i in $colorList {
    .#{nth($i,1)}-text {
        color: nth($i, 2);
    }
    .#{nth($i,1)}-bg {
        background-color: nth($i, 2);
    }
}


/*@function get-vw($value) {
    $vw-context: (1000 * .01) * 1px;
    @return ($value / $vw-context) * 1vw;
}*/

@function get-vw($value) {
    @return (($value * 100) / 1200px) * 1vw;
}

@function opposite-direction($directions) {
    $opposite-directions: ();
    $direction-map: ( 'top': 'bottom', 'right': 'left', 'bottom': 'top', 'left': 'right', 'center': 'center', 'ltr': 'rtl', 'rtl': 'ltr');
    @each $direction in $directions {
        $direction: to-lower-case($direction);
        @if map-has-key($direction-map, $direction) {
            $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
        }
        @else {
            @warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
        }
    }
    @return $opposite-directions;
}


/*Fonts*/

@font-face {
    font-family: 'Lato-Light';
    src: url('../Fonts/Lato/Lato-Light.eot');
    src: url('../Fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'), url('../Fonts/Lato/Lato-Light.woff') format('woff'), url('../Fonts/Lato/Lato-Light.woff2') format('woff2'), url('../Fonts/Lato/Lato-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../Fonts/Lato/Lato-Regular.eot');
    src: url('../Fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/Lato/Lato-Regular.woff') format('woff'), url('../Fonts/Lato/Lato-Regular.woff2') format('woff2'), url('../Fonts/Lato/Lato-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../Fonts/Lato/Lato-Bold.eot');
    src: url('../Fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../Fonts/Lato/Lato-Bold.woff') format('woff'), url('../Fonts/Lato/Lato-Bold.woff2') format('woff2'), url('../Fonts/Lato/Lato-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../Fonts/Lato/Lato-Black.eot');
    src: url('../Fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'), url('../Fonts/Lato/Lato-Black.woff') format('woff'), url('../Fonts/Lato/Lato-Black.woff2') format('woff2'), url('../Fonts/Lato/Lato-Black.ttf') format('truetype')
}

@font-face {
    font-family: 'icomoon';
    src: url('../Fonts/IcoMoon/icomoon.eot');
    src: url('../Fonts/IcoMoon/icomoon.eot') format('embedded-opentype'), url('../Fonts/IcoMoon/icomoon.ttf') format('truetype'), url('../Fonts/IcoMoon/icomoon.woff') format('woff'), url('../Fonts/IcoMoon/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    @include media("(min-width: 1200px)") {
        font-size: get-vw(14px);
    }
}


/*Key Frames*/


/*Pop elements in*/

@include key-frame(pop-in) {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}


/*Pop elements out*/

@include key-frame(pop-out) {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(0);
    }
}


/*Icons*/

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-social-facebook:before {
    content: "\e900";
  }
  .icon-social-instagram:before {
    content: "\e901";
  }
  .icon-social-twitter:before {
    content: "\e902";
  }
  .icon-search:before {
    content: "\e903";
  }
  .icon-best-spots-prev:before {
    content: "\e904";
  }
  .icon-best-spots-next:before {
    content: "\e905";
  }
  .icon-left-arrow:before {
    content: "\e906";
  }
  .icon-right-arrow:before {
    content: "\e907";
  }
  .icon-down-chevron:before {
    content: "\e908";
  }
  .icon-left-chevron:before {
    content: "\e909";
  }
  .icon-right-chevron:before {
    content: "\e90a";
  }
  .icon-up-chevron:before {
    content: "\e90b";
  }
  .icon-back-to-top:before {
    content: "\e90c";
  }
  .icon-map-location:before {
    content: "\e90d";
  }
  .icon-filter-sort:before {
    content: "\e90e";
  }
  .icon-triangular-arrow:before {
    content: "\e90f";
  }


/*General Declarations*/

#hidden-title {
    display: none
}

h1,
h2 {
    font-family: "Lato-Black"
}

h3,
h4,
h5 {
    font-family: "Lato-Bold"
}

h6,
p {
    font-family: "Lato-Regular"
}

h2 {
    font-size: 3.6em
}

h3 {
    font-size: 2.9em
}

h6 {
    font-size: 1.15em
}

a {
    cursor: pointer
}

.container {
    padding: 0 30px;
    box-sizing: border-box;
    @include media("(min-width: 1200px)") {
        padding: 0 get-vw(30px);
    }
}

.half-width {
    width: 50%;
    float: left
}

.full-width {
    width: 100%
}

.clear {
    clear: both
}

.marg-b10 {
    margin-bottom: 10px;
    @include media("(min-width: 1200px)") {
        margin-bottom: get-vw(10px);
    }
}

.marg-b20 {
    margin-bottom: 20px;
    @include media("(min-width: 1200px)") {
        margin-bottom: get-vw(20px);
    }
}

.marg-b30 {
    margin-bottom: 30px;
    @include media("(min-width: 1200px)") {
        margin-bottom: get-vw(30px);
    }
}

.marg-t10 {
    margin-top: 10px;
    @include media("(min-width: 1200px)") {
        margin-top: get-vw(10px);
    }
}

.marg-t20 {
    margin-top: 20px;
    @include media("(min-width: 1200px)") {
        margin-top: get-vw(20px);
    }
}

.marg-t30 {
    margin-top: 30px;
    @include media("(min-width: 1200px)") {
        margin-top: get-vw(30px);
    }
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-uppercase {
    text-transform: uppercase;
}

*[class*="container"]::after,*[class*="wrp"]::after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    visibility: hidden;
    clear: both;
}

.section-title {
    width: 300px;
    height: 60px;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 50px 0;
    @include media("(min-width: 1200px)") {
        width: get-vw(300px);
        height: get-vw(60px);
        padding: get-vw(10px) 0;
        margin: get-vw(50px) 0;
    }
    h2 {
        text-transform: uppercase;
        letter-spacing: 10px;
        width: 400px;
        text-align: right;
        font-size: 2em;
        line-height: 35px;
        @include media("(min-width: 1200px)") {
            letter-spacing: get-vw(10px);
            width: get-vw(400px);
            line-height: get-vw(35px);
        }
    }
}

.logo-pink-title {
    @include apply-color(background-color,
    $logo-pink);
}

.logo-yellow-title {
    @include apply-color(background-color,
    $logo-yellow);
}

.logo-green-title {
    @include apply-color(background-color,
    $logo-green);
}


/*Popup Base*/

.popup-base {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 50px;
    opacity: 0;
    background: #fff;
    z-index: 200;
    padding: 50px 30px;
    box-sizing: border-box;
    overflow: hidden; //display:none;
    @include transition(left 0.3s ease 0.8s,
    opacity 0.3s ease 0.8s,
    top 0s ease 1.1s);
    @include media("(min-width: 1200px)") {
        padding: get-vw(50px) get-vw(30px);
    }
    /*&:before,
    &:after {
        content: '';
        display: block;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        background: #fff;
        z-index: -1;
        @include transition(width 0.5s ease);
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }*/
    .popup-title {
        height: 80vh;
        float: left;
        margin-left: 150px;
        border-right: 2px solid #000;
        position: relative;
        margin-top: -50px;
        opacity: 0;
        @include transition(margin-top 0.3s ease,
        opacity 0.3s ease);
        @include media("(min-width: 1200px)") {
            margin-left: get-vw(150px);
            border-right-width: get-vw(2px);
            margin-top: get-vw(-50px);
        }
        span {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            width: 10px;
            word-break: break-all;
            text-transform: uppercase;
            display: block;
            background: #fff;
            padding: 10px;
            left: -15px;
            font-family: "Lato-Regular";
            line-height: 1.3em;
            font-size: 1.2em;
            text-align: center;
            @include media("(min-width: 1200px)") {
                width: get-vw(10px);
                padding: get-vw(10px);
                left: get-vw(-15px);
            }
        }
    }
    .popup-header {
        .close-btn {
            width: 40px;
            height: 40px;
            display: inline-block;
            background-color: #000;
            border-radius: 100%;
            position: relative;
            overflow: hidden; //@include transform(scale(0));
            @include animation(pop-out 0.4s ease 0.4s);
            animation-fill-mode: forwards;
            @include media("(min-width: 1200px)") {
                width: get-vw(40px);
                height: get-vw(40px);
            }
            &.init {
                @include transform(scale(0));
            }
            .fill {
                width: 38px;
                height: 38px;
                margin-top: 1px;
                margin-left: 1px;
                background-color: #fff;
                border-radius: 100%;
                position: relative;
                z-index: 100;
                @include media("(min-width: 1200px)") {
                    width: get-vw(38px);
                    height: get-vw(38px);
                    margin-top: get-vw(1px);
                    margin-left: get-vw(1px);
                }
                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 0;
                    background-color: #000;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 4px auto;
                    @include media("(min-width: 1200px)") {
                        width: get-vw(2px);
                        margin: get-vw(4px) auto;
                    }
                }
                &:before {
                    @include transform(rotate(-45deg));
                    @include transition(height 0.2s ease 0.2s);
                }
                &:after {
                    @include transform(rotate(45deg));
                    outline: 3px solid #fff;
                    @include transition(height 0.2s ease);
                    @include media("(min-width: 1200px)") {
                        outline-width: get-vw(3px);
                    }
                }
            }
        }
        .popup-logo-wrp {
            margin-left: 290px;
            opacity: 0;
            @include transition(all 0.3s ease);
            @include media("(min-width: 1200px)") {
                margin-left: get-vw(290px);
            }
            img {
                width: 68px;
                margin-right: 20px;
                @include media("(min-width: 1200px)") {
                    width: get-vw(68px);
                    margin-right: get-vw(20px);
                }
            }
            span {
                font: 1.4em "Lato-Regular";
                text-transform: uppercase;
                line-height: 40px;
                @include media("(min-width: 1200px)") {
                    line-height: get-vw(40px);
                }
            }
        }
        h2 {
            font-size: 16.6em;
            white-space: nowrap;
            text-transform: capitalize;
            position: absolute;
            top: 50%;
            left: 500px;
            line-height: 1em;
            opacity: 0;
            z-index: 100;
            @include transition(left 70s linear,
            opacity 0.3s ease);
            @include media("(min-width: 1200px)") {
                left: get-vw(500px);
            }
        }
    }
    .popup-body {
        .search-input {
            float: left;
            margin: 21vh 0 0 190px;
            opacity: 0;
            position: relative;
            z-index: 200;
            @include transition(all 0.3s ease);
            @include media("(min-width: 1200px)") {
                margin: 21vh 0 0 get-vw(190px);
            }
            input {
                display: block;
                width: 55vw;
                border: 0;
                border-bottom: 2px solid #000;
                height: 40px;
                background-color: transparent;
                position: relative;
                z-index: 100;
                @include reset-appearance();
                @include media("(min-width: 1200px)") {
                    border-bottom-width: get-vw(2px);
                    height: get-vw(40px);
                }
                &:focus {
                    outline: 0;
                }
            }
            label {
                font: 1.3em "Lato-Light";
                text-transform: uppercase;
                letter-spacing: 5px;
                position: absolute;
                top: 12px;
                @include transition(all 0.3s ease);
                @include media("(min-width: 1200px)") {
                    letter-spacing: get-vw(5px);
                    top: get-vw(12px);
                }
            }
            input.field-focus+label {
                top: -22px;
                font: 1em "Lato-Light";
                @include transition(all 0.3s ease);
                @include media("(min-width: 1200px)") {
                    top: get-vw(-22px);
                }
            }
            a,
            a:visited {
                background-color: $header-footer-primary-background-color;
                width: 35px;
                height: 35px;
                display: block;
                text-align: center;
                line-height: 40px;
                text-decoration: none;
                color: #fff;
                font-size: 1.5em;
                border-radius: 100%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 200;
                @include transform(scale(0));
                @include transition(background-color 0.3s ease);
                @include media("(min-width: 1200px)") {
                    width: get-vw(35px);
                    height: get-vw(35px);
                    line-height: get-vw(40px);
                }
            }
            a:hover {
                background-color: $logo-yellow;
                @include transition(background-color 0.3s ease);
            }
        }
    }
    &.popup-active {
        left: 0;
        top: 0;
        opacity: 1;
        @include transition(left 0.3s ease,
        opacity 0.3s ease,
        top 0s ease);
        /*&:before,
        &:after {
            width: 50%;
            @include transition(width 0.5s ease);
        }*/
        .popup-title {
            margin-top: 0;
            opacity: 1;
            @include transition(margin-top 0.3s ease 1s,
            opacity 0.3s ease 1s);
            @include media("(min-width: 1200px)") {
                margin-top: get-vw(0px);
            }
        }
        .popup-header {
            .close-btn {
                @include animation(pop-in 0.4s ease 0.2s);
                animation-fill-mode: forwards;
                .fill {
                    &:before,
                    &:after {
                        height: 30px;
                        @include media("(min-width: 1200px)") {
                            height: get-vw(30px);
                        }
                    }
                    &:before {
                        @include transition(height 0.2s ease 0.6s);
                    }
                    &:after {
                        @include transition(height 0.2s ease 0.8s);
                    }
                }
            }
            .popup-logo-wrp {
                margin-left: 240px;
                opacity: 1;
                @include transition(all 0.3s ease 0.8s);
                @include media("(min-width: 1200px)") {
                    margin-left: get-vw(240px);
                }
            }
            h2 {
                left: 70px;
                opacity: 0.1;
                @include transition(left 70s linear,
                opacity 0.3s ease);
                @include media("(min-width: 1200px)") {
                    left: get-vw(70px);
                }
            }
        }
        &.search-popup-active {
            .popup-body {
                .search-input {
                    margin: 21vh 0 0 140px;
                    opacity: 1;
                    @include transition(all 0.3s ease 1.1s);
                    @include media("(min-width: 1200px)") {
                        margin: 21vh 0 0 get-vw(140px);
                    }
                    a,
                    a:visited {
                        @include animation(pop-in 0.4s ease 1.6s);
                        animation-fill-mode: forwards; //@include transform(scale(1));
                        @include transition(background-color 0.3s ease);
                    }
                }
            }
        }
    }
}


/*Header*/

header,
footer {
    a,
    a:visited,
    a:hover {
        text-decoration: none;
    }
}

header {
    position: relative;
    text-transform: uppercase;
    ul {
        li:last-child {
            margin-right: 0!important;
        }
    }
    .top-header,
    .sticky-header .bottom-header {
        ul {
            li {
                float: left;
                a,
                a:visited {
                    font-size: 1em;
                }
            }
        }
    }
    .top-header {
        background-color: $header-footer-secondary-background-color;
        padding-bottom: 10px;
        padding-top: 10px;
        box-sizing: border-box;
        @include media("(min-width: 1200px)") {
            padding-bottom: get-vw(10px);
            padding-top: get-vw(10px);
        }
        .logo {
            width: 68px;
            margin-right: 50px;
            @include media("(min-width: 1200px)") {
                width: get-vw(68px);
                margin-right: get-vw(50px);
            }
            img {
                width: 100%;
            }
        }
        .main-nav {
            ul {
                margin-top: 15px;
                @include media("(min-width: 1200px)") {
                    margin-top: get-vw(15px);
                }
                a,
                a:visited {
                    opacity: 1;
                    @include transition(all 0.3s ease);
                }
                a:hover {
                    opacity: 0.6;
                    @include transition(all 0.3s ease);
                }
                &.header-account-menu {
                    li {
                        margin-right: 30px;
                        @include media("(min-width: 1200px)") {
                            margin-right: get-vw(30px);
                        }
                    }
                    .header-social-menu {
                        margin-top: 0;
                        [class^="icon-"],
                        [class*=" icon-"] {
                            font-size: 1.14em;
                        }
                    }
                }
                li {
                    margin-right: 50px;
                    @include media("(min-width: 1200px)") {
                        margin-right: get-vw(50px);
                    }
                    a,
                    a:visited {
                        color: $header-footer-primary-text-color;
                    }
                }
            }
        }
    }
    .sticky-header {
        position: absolute;
        width: 100%;
        z-index: 100;
        top: 100%;
        .bottom-header {
            background-color: $header-footer-primary-background-color;
            .category-nav {
                &>li {
                    @each $i in $colorList {
                        &.#{nth($i,1)}-menu-item ul {
                            border-left: 2px solid nth($i, 2);
                            a:hover {
                                background-color: nth($i, 2);
                            }
                        }
                    }
                    &>ul {
                        @include transform(translate(-5px,
                        20px)!important);
                        @include media("(min-width: 1200px)") {
                            @include transform(translate(get-vw(-5px),
                            get-vw(20px))!important);
                        }
                    }
                    &:last-child{
                        & ul{
                            left:auto!important;
                            right:0;
                        }
                    }
                    &>a {
                        &::after {
                            content: attr(title);
                            position: absolute;
                            top: -5px;
                            left: -5px;
                            padding: 5px;
                            background-color: $header-footer-secondary-background-color;
                            color: $header-footer-primary-text-color;
                            clip: rect(0px, 0px, 200px, 0px);
                            @include transition(clip .3s);
                            @include media("(min-width: 1200px)") {
                                top: get-vw(-5px);
                                left: get-vw(-5px);
                                padding: get-vw(5px);
                                clip: rect(0, 0, get-vw(200px), 0);
                            }
                        }
                        &:hover {
                            &::after {
                                clip: rect(0px, 200px, 200px, 0);
                                @include transition(all 1s);
                                @include media("(min-width: 1200px)") {
                                    clip: rect(0, get-vw(200px), get-vw(200px), 0);
                                }
                            }
                        }
                    }
                    &:hover {
                        &>a::after {
                            clip: rect(0px, 200px, 200px, 0);
                            @include transition(all 1s);
                            @include media("(min-width: 1200px)") {
                                clip: rect(0, get-vw(200px), get-vw(200px), 0);
                            }
                        }
                        &>ul {
                            @include transform(translate(-5px,
                            0px)!important);
                            @include media("(min-width: 1200px)") {
                                @include transform(translate(get-vw(-5px),
                                get-vw(0px))!important);
                            }
                        }
                    }
                }
                li {
                    padding: 25px 35px 25px 0;
                    box-sizing: border-box;
                    position: relative;
                    overflow: hidden;
                    @include transition(all 0.2s ease);
                    @include media("(min-width: 1200px)") {
                        padding: get-vw(25px) get-vw(35px) get-vw(25px) 0;
                    }
                    a,
                    a:visited {
                        color: $header-footer-secondary-text-color;
                        position: relative;
                    }
                    &:hover {
                        overflow: visible;
                        &>ul {
                            opacity: 1;
                            @include transform(translateY(0));
                            @include transition(all 0.3s ease);
                            /*display: block;*/
                        }
                    }
                    ul {
                        position: absolute;
                        min-width: 100%;
                        top: 100%;
                        z-index:300;
                        white-space: nowrap;
                        opacity: 0;
                        @include transform(translateY(20px));
                        @include transition(all 0.3s ease);
                        /*display: none;*/
                        @include media("(min-width: 1200px)") {
                            border-left-width: get-vw(2px);
                        }
                        li {
                            margin: 0;
                            text-align: center;
                            /*line-height: 1.5em;*/
                            padding: 0;
                            float: none;
                            a,
                            a:visited {
                                padding: 10px 5px;
                                box-sizing: border-box;
                                display: block;
                                text-transform: capitalize;
                                background: $header-footer-secondary-background-color;
                                color: $header-footer-primary-text-color;
                                @include transition(all 0.3s ease);
                                @include media("(min-width: 1200px)") {
                                    padding: get-vw(10px) get-vw(5px);
                                }
                                &:after {
                                    display: none;
                                }
                            }
                            a:hover {
                                /*background: $header-footer-primary-background-color;*/
                                color: $header-footer-secondary-text-color;
                                @include transition(all 0.3s ease);
                            }
                            ul {
                                left: 100%;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
        .attached-menu {
            float: right;
            background: $header-footer-primary-background-color;
            position: absolute;
            z-index: 100;
            padding: 10px 25px;
            box-sizing: border-box;
            right: 0;
            top: 100%; //opacity: 0;
            @include transform(translateX(115%));
            @include transition(all 0.3s ease 0.2s);
            @include media("(min-width: 1200px)") {
                padding: get-vw(10px) get-vw(25px); //right: get-vw(-50px);
            }
            &:after {
                content: '';
                position: absolute;
                left: -30px;
                top: 0;
                height: 100%;
                background: #131313;
                width: 30px;
                clip-path: polygon(0 0, 100% 100%, 100% 0);
                @include media("(min-width: 1200px)") {
                    width: get-vw(30px);
                    left: get-vw(-30px);
                }
            }
            ul {
                li {
                    float: right;
                    margin-left: 20px;
                    @include media("(min-width: 1200px)") {
                        margin-left: get-vw(20px);
                    }
                    &:last-child {
                        margin-left: 0;
                        @include media("(min-width: 1200px)") {
                            margin-left: 0;
                        }
                    }
                    a,
                    a:visited,
                    & {
                        color: $header-footer-secondary-text-color;
                        position: relative;
                    }
                    a.word-link {
                        &::after {
                            content: attr(title);
                            position: absolute;
                            top: -5px;
                            left: -5px;
                            padding: 5px;
                            background-color: $header-footer-secondary-background-color;
                            color: $header-footer-primary-text-color;
                            clip: rect(0px, 0px, 200px, 0px);
                            transition: clip .3s;
                            @include media("(min-width: 1200px)") {
                                top: get-vw(-5px);
                                left: get-vw(-5px);
                                padding: get-vw(5px);
                                clip: rect(0, 0, get-vw(200px), 0);
                            }
                        }
                        &:hover {
                            &::after {
                                clip: rect(0px, 200px, 200px, 0);
                                transition: all 1s;
                                @include media("(min-width: 1200px)") {
                                    clip: rect(0, get-vw(200px), get-vw(200px), 0);
                                }
                            }
                        }
                    }
                    .icon-back-to-top{
                        display: block;
                        font-size: 1.9em;
                        line-height: 0.6em;
                    }
                }
            }
        }
        &.fixed {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 100;
            .bottom-header {
                .category-nav {
                    &>li {
                        padding: 15px 35px 15px 0;
                        @include transition(all 0.2s ease);
                        @include media("(min-width: 1200px)") {
                            padding: get-vw(15px) get-vw(35px) get-vw(15px) 0;
                        }
                    }
                }
            }
            .attached-menu {
                //right: 0;
                //opacity: 1;
                @include transform(translateX(0));
                @include transition(all 0.3s ease 0.2s);
                @include media("(min-width: 1200px)") {
                    //right: 0;
                }
            }
        }
    }
}


/*Main*/

main {
    background-color: #fff;
}


/*Footer*/

footer {
    background-color: $header-footer-primary-background-color;
    width: 100%;
    color: $header-footer-secondary-text-color;
    padding: 45px 30px;
    box-sizing: border-box;
    @include media("(min-width: 1200px)") {
        padding: get-vw(45px) get-vw(30px);
    }
    .footer-container {
        width: 100%;
        text-transform: uppercase;
        .rights {
            font-size: 1.15em;
            margin-top: 40px;
            @include media("(min-width: 1200px)") {
                margin-top: get-vw(40px);
            }
        }
        .mag-links {
            ul {
                li {
                    list-style-type: none;
                    margin: 5px 0;
                    @include media("(min-width: 1200px)") {
                        margin: get-vw(5px) 0;
                    }
                    a,
                    a:visited {
                        text-decoration: none;
                        color: $header-footer-secondary-text-color;
                        position: relative;
                        padding: 6px 0;
                        @include media("(min-width: 1200px)") {
                            padding: get-vw(6px) 0;
                        }
                    }
                    a {
                        &::after {
                            content: attr(title);
                            position: absolute;
                            top: 0;
                            left: -5px;
                            padding: 0 5px;
                            background-color: $header-footer-secondary-background-color;
                            color: $header-footer-primary-text-color;
                            clip: rect(0px, 0px, 200px, 0px);
                            transition: clip .3s;
                            @include media("(min-width: 1200px)") {
                                left: get-vw(-5px);
                                padding: 0 get-vw(5px);
                                clip: rect(0, 0, get-vw(200px), 0);
                            }
                        }
                        &:hover {
                            &::after {
                                clip: rect(0px, 200px, 200px, 0);
                                transition: all 1s;
                                @include media("(min-width: 1200px)") {
                                    clip: rect(0, get-vw(200px), get-vw(200px), 0);
                                }
                            }
                        }
                    }
                }
            }
        }
        .half-width {
            font-size: 1.13em;
            line-height: 1.8em
        }
        .mag-info {
            letter-spacing: 0.15em;
            .info-title {
                background-color: $header-footer-secondary-background-color;
                color: $header-footer-primary-text-color;
                padding: 2px;
                @include media("(min-width: 1200px)") {
                    padding: get-vw(2px);
                }
            }
        }
        .mag-social {
            text-align: right;
            font-size: 1.9em;
            i {
                background-color: #fff;
                border-radius: 100%;
                color: #000;
                padding: 10px;
                margin: 0 5px;
                @include media("(min-width: 1200px)") {
                    padding: get-vw(10px);
                    margin: 0 get-vw(5px);
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    h6 {
        letter-spacing: 0.15em;
    }
}

@media screen and(max-width:768px) {
    .half-width {
        width: 100%;
        float: none
    }
    /*Footer*/
    footer {
        padding: 45px 15px;
        .footer-container {
            text-align: center;
            h6,
            .rights {
                line-height: 1.5em;
            }
            .mag-info {
                margin-top: 30px;
            }
            .mag-social {
                text-align: center;
                margin-top: 30px
            }
        }
    }
}

@media screen and (max-width: 640px) {}