/*Variable Declaration*/
/*Main Colors*/
$header-footer-primary-background-color:#131313;
$header-footer-secondary-background-color:#fff;
$header-footer-primary-text-color:#000;
$header-footer-secondary-text-color:#fff;
$logo-pink:#db2b4a;
$logo-yellow:#f3a41e;
$logo-green:#5daa46;

/*Category Colors*/
$colorList:
"nightlife" #f90000,
"tourism" #35b8b2,
"shopping" #01acca,
"beauty" #e67cae,
"dinning" #fcb062,
"services" #00a6ec,
"accomodation" #c683b8,
"fitness" #fff100,
"entertainment" #ffc72a
;

$cat-nightlife-color:#f90000;
$cat-tourism-color:#35b8b2;
$cat-shopping-color:#01acca;
$cat-beauty-color:#e67cae;
$cat-dinning-color:#fcb062;
$cat-services-color:#00a6ec;
$cat-accomodation-color:#c683b8;
$cat-fitness-color:#fff100;
$cat-entertainment-color:#ffc72a;

/*Mixins*/

@mixin apply-color($prop, $color) {
    #{$prop}: $color;
}

@mixin transition($transition...){
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -ms-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
}

@mixin transform($transform...){
    -webkit-transform:$transform;
    -moz-transform:$transform;
    -ms-transform:$transform;
    -o-transform:$transform;
    transform:$transform;
}

/*Functions*/
@each $i in $colorList {
.#{nth($i,1)}-text {
     color: nth($i,2);
}

.#{nth($i,1)}-bg {
    background-color: nth($i,2);
}
}


/*Fonts*/

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/lato/Lato-Light.eot');
    src: url('../fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/Lato-Light.woff') format('woff'), url('../fonts/lato/Lato-Light.woff2') format('woff2'), url('../fonts/lato/Lato-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/lato/Lato-Regular.eot');
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/Lato-Regular.woff') format('woff'), url('../fonts/lato/Lato-Regular.woff2') format('woff2'), url('../fonts/lato/Lato-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/lato/Lato-Bold.eot');
    src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/Lato-Bold.woff') format('woff'), url('../fonts/lato/Lato-Bold.woff2') format('woff2'), url('../fonts/lato/Lato-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/lato/Lato-Black.eot');
    src: url('../fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/Lato-Black.woff') format('woff'), url('../fonts/lato/Lato-Black.woff2') format('woff2'), url('../fonts/lato/Lato-Black.ttf') format('truetype')
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?f46erc');
    src: url('../fonts/icomoon/icomoon.eot?f46erc#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?f46erc') format('truetype'), url('../fonts/icomoon/icomoon.woff?f46erc') format('woff'), url('../fonts/icomoon/icomoon.svg?f46erc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*Icons*/

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-best-spots-prev:before {
    content: "\e904";
  }
  .icon-best-spots-next:before {
    content: "\e905";
  }
  .icon-search:before {
    content: "\e903";
  }
  .icon-social-facebook:before {
    content: "\e900";
  }
  .icon-social-instagram:before {
    content: "\e901";
  }
  .icon-social-twitter:before {
    content: "\e902";
  }


/*General Declarations*/

#hidden-title {
    display: none
}

h1,
h2 {
    font-family: "Lato-Black"
}

h3,
h4,
h5 {
    font-family: "Lato-Bold"
}

h6,
p {
    font-family: "Lato-Regular"
}

h2 {
    font-size: 3.6em
}

h3 {
    font-size: 2.9em
}

h6 {
    font-size: 1.15em
}

a {
    cursor: pointer
}

.container {
    padding: 0 30px;
    box-sizing: border-box;
}

.half-width {
    width: 50%;
    float: left
}

.full-width {
    width: 100%
}

.clear {
    clear: both
}

.marg-b10 {
    margin-bottom: 10px
}

.marg-b20 {
    margin-bottom: 20px
}

.marg-b30 {
    margin-bottom: 30px
}

.marg-t10 {
    margin-top: 10px
}

.marg-t20 {
    margin-top: 20px
}

.marg-t30 {
    margin-top: 30px
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.display-none{
    display:none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-uppercase {
    text-transform: uppercase;
}

*[class*="container"]::after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    visibility: hidden;
    clear: both;
}

.section-title {
    width: 400px;
    height: 110px;
    padding: 25px 0;
    box-sizing: border-box;
    margin: 50px 0;
    h2 {
        text-transform: uppercase;
        letter-spacing: 10px;
        width: 500px;
        text-align: right;
    }
}

.logo-pink-title {
    @include apply-color(background-color,
    $logo-pink);
}

.logo-yellow-title {
    @include apply-color('background-color',
    $logo-yellow);
}

.logo-green-title {
    @include apply-color('background-color',
    $logo-green);
}

/*Popup Base*/
.popup-base{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 200;
    padding: 50px 30px;
    box-sizing: border-box;
    display:none;

    .close-btn{
        width: 40px;
        height: 40px;
        display: inline-block;
        background-color: #fff;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
        @include transform(rotate(66deg));
    
        &:before,&:after{
            content: '';
            position: absolute;
            height: 50%;
            width: 100%;
            background-color: #000;
            left: 0;
        }
    
        &:after{
            bottom: 0;
            clip: rect(0,0px,20px,0);
            @include transform(rotate(180deg));
            @include transition(clip 0.2s ease 0.6s);
        }
    
        &:before{
            top: 0;
            clip: rect(0,0px,20px,0);
            @include transition(clip 0.2s ease 0.4s);
        }
    
        .fill{
            width: 38px;
            height: 38px;
            margin-top: 1px;
            margin-left: 1px;
            background-color: #fff;
            border-radius: 100%;
            position: relative;
            z-index: 100;
            @include transform(rotate(-66deg));
    
            &:before,&:after{
                content: '';
                display: block;
                width: 2px;
                height: 0;
                background-color: #000;
                position: absolute;
                left: 0;
                right: 0;
                margin: 4px auto;
            }
    
            &:before{
                @include transform(rotate(-45deg));
                @include transition(height 0.2s ease 0.2s);
            }
    
            &:after{
                @include transform(rotate(45deg));
                outline: 2px solid #fff;
                @include transition(height 0.2s ease);
            }
        }
    
        &/*:hover*/{
            &:before{
                clip: rect(0,33px,20px,0);
                @include transition(clip 0.2s linear 0.2s);
            }
        
            &:after{
                clip: rect(0,40px,20px,0);
                @include transition(clip 0.2s ease);
            }
    
            .fill{
                &:before{
                    height: 30px;
                    @include transition(height 0.2s ease 0.4s);
                }
        
                &:after{
                    height: 30px;
                    @include transition(height 0.2s ease 0.6s);
                }   
            }
        }
    }   
    
    .popup-logo-wrp{
        margin-left:280px;

        img{
            width:68px;
            display:inline-block;
            margin-right:20px;
        }
    }
}







/*Header*/

header,
footer {
    a,
    a:visited,
    a:hover {
        text-decoration: none;
    }
}

header {
    text-transform: uppercase;
    ul {
        li:last-child {
            margin-right: 0!important;
        }
    }

    .top-header,
    .bottom-header {
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        ul {
            li {
                float: left;
                a,
                a:visited {
                    font-size: 1.14em;
                }
            }
        }
    }
    .top-header {
        .logo {
            width: 68px;
            margin-right: 50px;
            img {
                width: 100%;
            }
        }
        .main-nav {
            ul {
                a,
                a:visited {
                    opacity:1;
                    @include transition(all 0.3s ease);
                }
                a:hover{
                    opacity:0.6;
                    @include transition(all 0.3s ease);
                }
                &.header-account-menu {
                    li {
                        margin-right: 30px
                    }
                    .header-social-menu {
                        margin-top: 0;
                        [class^="icon-"],
                        [class*=" icon-"] {
                            font-size: 1.14em;
                        }
                    }
                }
                margin-top: 15px;
                li {
                    margin-right: 50px;
                    a,
                    a:visited {
                        color: $header-footer-primary-text-color;
                    }
                }
            }
        }
    }
    .bottom-header {
        background-color: $header-footer-primary-background-color;
        ul {
            li {
                margin: 15px 40px 15px 0;
                a,
                a:visited {
                    color: $header-footer-secondary-text-color;
                    position: relative;
                }
                a {
                    &::after {
                        content: attr(title);
                        position: absolute;
                        top: -5px;
                        left: -5px;
                        padding: 5px;
                        background-color: $header-footer-secondary-background-color;
                        color: $header-footer-primary-text-color;
                        clip: rect(0px, 0px, 200px, 0px);
                        transition: clip .3s;
                    }
                    &:hover {
                        &::after {
                            clip: rect(0px, 200px, 200px, 0);
                            transition: all 1s;
                        }
                    }
                }
            }
        }
    }
}

/*Footer*/

footer {
    background-color: $header-footer-primary-background-color;
    width: 100%;
    color: $header-footer-secondary-text-color;
    padding: 45px 30px;
    box-sizing: border-box;
    .footer-container {
        width: 100%;
        text-transform: uppercase;
        .rights {
            font-size: 1.15em;
            margin-top: 40px
        }
        .mag-links {
            ul {
                li {
                    list-style-type: none;
                    margin: 5px 0;
                    a,
                    a:visited {
                        text-decoration: none;
                        color: $header-footer-secondary-text-color;
                        position: relative;
                        padding: 6px 0;
                    }
                    a {
                        &::after {
                            content: attr(title);
                            position: absolute;
                            top: 0;
                            left: -5px;
                            padding: 0 5px;
                            background-color: $header-footer-secondary-background-color;
                            color: $header-footer-primary-text-color;
                            clip: rect(0px, 0px, 200px, 0px);
                            transition: clip .3s;
                        }
                        &:hover {
                            &::after {
                                clip: rect(0px, 200px, 200px, 0);
                                transition: all 1s;
                            }
                        }
                    }
                }
            }
        }
        .half-width {
            font-size: 1.13em;
            line-height: 1.8em
        }
        .mag-info {
            letter-spacing: 0.15em;
            .info-title {
                background-color: $header-footer-secondary-background-color;
                color: $header-footer-primary-text-color;
                padding: 2px;
            }
        }
        .mag-social {
            text-align: right;
            font-size: 1.9em;
            i {
                background-color: #fff;
                border-radius: 100%;
                color: #000;
                padding: 10px;
                margin: 0 5px;
                &:last-child {
                    margin-right: 0
                }
            }
        }
    }
    h6 {
        letter-spacing: 0.15em;
    }
}

@media screen and(max-width:768px) {
    .half-width {
        width: 100%;
        float: none
    }
    /*Footer*/
    footer {
        padding: 45px 15px;
        .footer-container {
            text-align: center;
            h6,
            .rights {
                line-height: 1.5em;
            }
            .mag-info {
                margin-top: 30px;
            }
            .mag-social {
                text-align: center;
                margin-top: 30px
            }
        }
    }
}

@media screen and (max-width: 640px) {}