/*@function get-vw($value) {
    $vw-context: (1000 * .01) * 1px;
    @return ($value / $vw-context) * 1vw;
}*/

@function get-vw($value, $screen-size: 1200px) {
    @return (($value * 100) / $screen-size) * 1vw;
}


@function opposite-direction($directions) {
    $opposite-directions: ();
    $direction-map: ( 'top': 'bottom', 'right': 'left', 'bottom': 'top', 'left': 'right', 'center': 'center', 'ltr': 'rtl', 'rtl': 'ltr');
    @each $direction in $directions {
        $direction: to-lower-case($direction);
        @if map-has-key($direction-map, $direction) {
            $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
        }
        @else {
            @warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
        }
    }
    @return $opposite-directions;
}