    /*----------------------------
Inner Pages Styles File
Contains all styles of inner pages
----------------------------*/

    @import 'reset'; //Reset file import
    @import 'base'; //Base file import
    @mixin themify-inner-page($theme, $color) {
        .category-banner {
            background: #ccc url('../images/category-banners/'+$theme+'-banner.jpg') no-repeat center;
            background-size: cover;
        }
    }

    @each $i in $colorList {
        body.#{nth($i,1)}-theme {
            @include themify-inner-page(#{nth($i,1)},
            nth($i, 2));
        }
    }
    /*Main*/

    main {
        .category-banner {
            width: 100%;
            height: 335px;
            overflow: hidden;
            margin-bottom: 30px;
            background-position-y: 50%;
            @include media("(min-width: 1200px)") {
                height: get-vw(335px);
                margin-bottom: get-vw(30px);
            }
            h1 {
                text-align: center;
                line-height: 335px;
                font: 3.5em "Lato-Black";
                color: #fff;
                text-transform: uppercase;
                position: relative;
                @include media("(min-width: 1200px)") {
                    line-height: get-vw(335px);
                }
            }
        }
        .ad-below-banner-wrp {
            width: 100%;
            height: 200px;
            margin-bottom: 30px;
            @include media("(min-width: 1200px)") {
                height: get-vw(200px);
                margin-bottom: get-vw(30px);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0;
            }
        }
        .category-list-wrp {
            .category-list-item {
                width: calc(((100vw - 60px) / 2) - 15px);
                height: calc(((((100vw - 60px) / 2) - 15px) * 2) / 3);
                overflow: hidden;
                position: relative;
                margin-bottom: 20px; //box-sizing:border-box;
                @include media("(min-width: 1200px)") {
                    width: ((get-vw(1200px) - get-vw(60px)) / 2) - get-vw(15px);
                    height: (((((get-vw(1200px) - get-vw(60px)) / 2) - get-vw(15px)) * 2) / 3);
                    margin-bottom: get-vw(20px);
                }
                @include media("(max-width: 768px)") {
                    width: 100%;
                    height: calc(((100vw - 60px) * 2) / 3);
                }
                &:nth-child(2n) {
                    float: right;
                    clear: right; //padding-left:get-vw(15px);
                }
                &:nth-child(2n-1) {
                    float: left;
                    clear: left; //padding-right:get-vw(15px);
                }
                a {
                    width: 100%;
                    display: block;
                    height: 100%;
                    overflow: hidden;
                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                    img {
                        width: 120%;
                        height: 100%;
                        object-fit: cover;
                        @include transform(translateX(-5%));
                        @include transition(transform 5s ease-out);
                    }
                    h2 {
                        font: 4.5vw "Lato-Black";
                        color: #fff;
                        text-transform: uppercase;
                        text-align: center;
                        position: absolute;
                        width: 100%;
                        line-height: 1em;
                        top: 50%;
                        @include transform(translateY(-50%));
                        @include media("(max-width: 768px)") {
                            font-size: 9vw;
                        }
                    }
                }
                a:hover {
                    img {
                        @include transform(translateX(-15%));
                        @include transition(transform 20s ease-out);
                    }
                }
            }
        }
        .items-list-wrp{
            .items-list-container{
                .item-wrp{
                    position: relative;
                    margin-bottom: 20px;

                    &:after{
                        content:'';
                        display:block;
                        position:absolute;
                        bottom:3px;
                        right:0;
                        width:70%;
                        height:3px;
                        background-color:red;
                    }

                    .item-rating{
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                    .item-info{
                        display: inline-block;
                        width: 100%;

                        .item-img{
                            width: 30%;
                            height: 200px;
                            overflow: hidden;
                            float: left;
                            padding-right: 20px;
                            box-sizing: border-box;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .item-data{
                            float: left;
                            width: 70%;
                            padding-bottom: 34px;

                            h2{
                                color: #000;
                                font: 2.14em 'Lato-Black';
                                margin-bottom: 10px;
                            }

                            .item-location{
                                margin-bottom: 20px;
                                color: red;
                                display: inline-block;
                                width: 100%;

                                i,a,a:visited{
                                    float: left;
                                }

                                i{
                                    margin-right: 5px;
                                }

                                a,a:visited{
                                    color: red;
                                }
                            }

                            .item-links{
                                position: absolute;
                                bottom: 23px;
                                right: 0;

                                a,a:visited{
                                    float: right;
                                    margin-left: 15px;
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }