/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: #fff;
  font-size: 14px !important;
  font-family: "Lato-Regular", sans-serif !important;
  color: #000;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/lato/Lato-Light.eot");
  src: url("../fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Light.woff") format("woff"), url("../fonts/lato/Lato-Light.woff2") format("woff2"), url("../fonts/lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/lato/Lato-Regular.eot");
  src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/lato/Lato-Bold.eot");
  src: url("../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Bold.woff") format("woff"), url("../fonts/lato/Lato-Bold.woff2") format("woff2"), url("../fonts/lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/lato/Lato-Black.eot");
  src: url("../fonts/lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Black.woff") format("woff"), url("../fonts/lato/Lato-Black.woff2") format("woff2"), url("../fonts/lato/Lato-Black.ttf") format("truetype");
}

/*General Declarations*/
#hidden-title {
  display: none;
}

h1, h2 {
  font-family: "Lato-Black";
}

h3, h4, h5 {
  font-family: "Lato-Bold";
}

h6, p {
  font-family: "Lato-Regular";
}

h2 {
  font-size: 3.6em;
}

h3 {
  font-size: 2.9em;
}

h6 {
  font-size: 1.15em;
}

.half-width {
  width: 50%;
  float: left;
}

.full-width {
  width: 100%;
}

.Clear {
  clear: both;
}

*[class$="container"]::after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  visibility: hidden;
  clear: both;
}

/*Footer*/
footer {
  background-color: #131313;
  width: 100%;
  color: #fff;
  padding: 45px 30px;
  box-sizing: border-box;
}

footer .footer-container {
  width: 100%;
}

footer h6 {
  letter-spacing: 0.15em;
}

@media screen and (max-width: 460px) {
  footer {
    padding: 45px 15px;
  }
  footer .footer-container {
    text-align: center;
  }
}
 

 /*# sourceMappingURL= CairoGuideSass.css.map */